[2011-07-08 10:30] AndreaBarbon opened #1 "Errors doing "gem install urbanairship""
Hi,

when I try to install your gem with 'gem install urbanairship', it thorws 1000 lines of errors:

MacBook-di-Andrea:village abramo$ gem install urbanairship
Building native extensions.  This could take a while...
ERROR:  Error installing urbanairship:
    ERROR: Failed to build gem native extension.

[code]

creating Makefile

make
gcc -I. -I/Users/abramo/.rvm/rubies/ruby-1.9.2-p180/include/ru

[2011-07-08 10:47] AndreaBarbon opened #2 "Errors doing "gem install urbanairship""
Hi,

when I try to install your gem with 'gem install urbanairship', it thorws 1000 lines of errors:

MacBook-di-Andrea:village abramo$ gem install urbanairship
Building native extensions.  This could take a while...
ERROR:  Error installing urbanairship:
    ERROR: Failed to build gem native extension.

[code]

creating Makefile

make
gcc -I. -I/Users/abramo/.rvm/rubies/ruby-1.9.2-p180/include/ru

[2011-07-08 17:58] #1 closed, assigned to nobody

[2011-07-08 19:39] #2 closed, assigned to nobody

[2012-02-07 22:48] zorn opened #11 "Any reason this gem lacks a "device_tokens" method? Seems relevant to other method needs."
I'm using this gem to do some broadcast notifications currently in my Rails 3 app. Works great. Thanks! :)

For a new feature we'll need to do more focused notifications. I'm going to use the `batch_push` stuff but part of that requires passing in a list of device tokens. That said I'm surprised this gem doesn't have a method for fetching a list of `device_tokens` for the app since my understandin

[2012-02-13 17:26] #11 closed, assigned to nobody

[2012-03-27 09:10] dschneider opened #14 "Auto badge"
Hi there,

I am experiencing problems with the badge set to "auto". Every time a push notification is sent, the badge gets reset. The code I am using:

[code]

I've looked through the code and it simply passes the body through to UA's API. Still I wanted to make sure that it's correct to set it like that. If that is the correct way of setting an auto-badge, the problem must reside in the Urban Air

[2012-03-27 09:27] #14 closed, assigned to nobody

[2013-01-14 17:40] alternegro opened #22 "How do you test this?"
Hello,
Running rspec throws uninitialized constant errors.
Is there an obvious step i'm missing?
Thanks

[2013-01-14 17:52] #22 closed, assigned to nobody

[2013-01-27 04:14] markaschneider opened #23 "Can't add tags"
When I call Urbanairship.add_tag("Test1"), the following line is recorded in the log file:

Urbanairship (407ms): [Put /api/tags/Test1, ], [400, Bad Request]

[2013-01-28 20:37] #23 closed, assigned to nobody

[2013-02-15 17:22] amalhotra opened #27 "Add the ability to list segments and create segments with criterias"
Basically add these end points as well:

https://docs.urbanairship.com/display/DOCS/Server%3A+Segments+API#ServerSegmentsAPI-SegmentsEndpoints

[2013-02-18 17:01] #27 closed, assigned to nobody

[2013-04-15 10:23] rromanchuk opened #31 "[feature request] Manage payload size for the client"
This might be asking for too much, but it would be nice if there was a way to automagically manage the payload size of the apn for the lazy :)

I noticed in my UA console some of my messages were being rejected because i was over the 255byte maximum, mostly do to unicode characters. It would be nice if there was some sort auto-truncating mechanism on the alert field if it goes over the maximum all

[2013-06-06 19:37] #31 closed, assigned to nobody

[2013-06-23 23:17] dgaeta opened #34 "what is the default :schedule_for value?"
Do i omit to send now?

[2013-06-24 15:07] #34 closed, assigned to nobody

[2013-07-17 20:21] holgersindbaek opened #36 "App doesn't send messages"
I've se up UA in the initializer and I'm sending off a message. The message seems to get sent off (I get a code 200), but it doesn't pop up in the Urban Airship control panel.

How can I check that Urban Airship actually receives the message?

How do I troubleshoot this in other words?

[2013-07-24 16:06] nmondollot opened #39 "Compatibility with API v3"
Urbanairship introduced API v3 on 2013-07-22 :
http://docs.urbanairship.com/reference/api/v3/api-v3-migration-guide.html

V2 end of life scheduled for February 2014.
Any plans to make the gem work with v3?

We've been using urbanairship gem in production with great success, thanks to you guys! Keep up the great work!

[2013-07-30 22:40] ghost opened #40 "Support rich app pages"
Add the /airmail/send endpoint

[2013-07-30 22:47] #40 closed, assigned to nobody

[2013-08-19 07:39] shem8 opened #42 "make `do_request` public"
Lib is great but missing lots of api features (for example- Individual device lookup: http://docs.urbanairship.com/reference/api/v3/device_information.html), what if you could build request from your own?
Isn't will be better for users?

[2013-10-28 03:17] ryanbooker opened #44 "APIs that use "Application Secret" should also fall back to "Master Secret" if it exists."
e.g. register

Master Secret is valid for all APIs.

[2014-04-10 19:05] traber333 opened #47 "Push with Sounds"
I can't seem to find anywhere in the documentation on how to tell the push to play a sound on the phone.  I tried adding the :sound symbol to the aps hash in my push from the server, but that didn't work.

[2014-05-07 18:59] iamaaronknight opened #48 "No version bump for Urban Airship v3 support?"
There was a commit a couple of weeks ago to add V3 support - https://github.com/groupon/urbanairship/commit/8c0ec32c9b7960e4a37e644eaa95c64b06ec8f74 - but no version bump.  (Rubygems shows version 2.3.3 was updated June 2013.  https://rubygems.org/gems/urbanairship.)

[2014-06-10 11:19] manishnath opened #49 "did this gem suddenly stop working for push ?"
It looks like the devices are being registered but the push notifications are not sent. Can anyone help me here?

[2014-06-10 14:36] #47 closed, assigned to nobody

[2014-06-11 05:48] brianatwhistle opened #51 "add support for v3 scheduled notifications"
Looks like the port to v3 is missing the ability to schedule a notification for the future.  In previous versions of the Urbanairship api, you would put a :schedule_for key into the normal push parameters.  Now you have to hit a separate API endpoint, /api/schedules.

http://docs.urbanairship.com/reference/api/v3/schedule.html

[2014-06-23 16:42] jlforever opened #52 "Push alias needs to be a string for android"
Firstly, thanks for creating this gem, it works out pretty well. But we did encounter one subtle issue and want to get some insights regarding the issue.

Our push audience includes both android and iOS devices. We decided to use the `User#id` as the push alias. Our notification payload is agnostic in that it will include common blocks for things like `alert` and `aliases` as well as device depend

[2014-08-07 15:07] jakecraige opened #56 "Nil values in extra causes failure"
If you send an extra value that is nil, the push fails. Not sure if this is intended

[code]

It's possible that other places do this instead but this is just the one I noticed. It may not be the gem's job to check this but I wanted to point it out. At least some sort of error that gives insight as to what's going on would be helpful

[2014-10-14 14:12] #48 closed, assigned to nobody

[2014-10-15 00:54] #36 closed, assigned to nobody

[2014-11-01 16:04] trek opened #59 "Additional/New Ownership"
Although we still use Urban Airship at Groupon, our architecture has changed so that we're no longer using it via Ruby. This puts us into an awkward position as responsible stewards of this gem.

We're on the lookout for additional maintainers in the short term and potentially new owners in the long term. Our immediate need is someone with context and experience to begin evaluating issues and pull

[2015-01-10 06:19] #52 closed

[2015-01-11 19:50] trek commented on #52
Did this stop being an issue?

[2015-01-11 19:50] trek commented on #59
@dogweather any news?

[2015-01-12 16:00] jlforever commented on #52
@trek I have recently migrated away our company's push notification stack from using `Urbanairship` and built an in-house push notification stack that uses the `grocer` and `gcm` gem.

So going back to your question, before we switched-off `urbanairship` gem, we were still passing the alias as `string`, in the format of something like:

[code]
So that means, there weren't any resolution in regard

[2015-04-08 17:56] pdxmele commented on #39
Hi folks,
Mele from Urban Airship here. We're going to be turning off v1 support pretty soon now (July 31, 2015), and we're seeing if we have the resources to put together an official Ruby library soon. Please email support@urbanairship.com if you're interested to help us figure out where to prioritize the work. Thanks!

[2015-04-17 15:44] trek commented on #39
@pdxmele we've been trying (without success) to find a new owner for this gem. We don't use Urban Airship via ruby any longer. Someone from Urban Airship even offered to follow up on taking it over #59, but that lead went dead. If you'd like to take it over, that'd be great. We still use Urban Airship in general, but are no longer the right owners for this code.

[2015-04-20 17:23] dogweather commented on #39
Hi @trek. I commented back on the other issue about the library. Urban Airship has now decided to commit the resources to taking over ownership for this gem, and I'll be doing the transition. I'm excited to finally be able to move this forward.

[2015-04-20 17:42] abedra commented on #39
@dogweather that's great news! We can initiate a transfer of the project if you like. Just let us know.

[2015-04-20 17:47] dogweather commented on #39
@abedra Great. I just sent @trek an email: yes, please go ahead an initiate the transfer to the urban airship organization. I'll check and make sure it worked.

[2015-04-20 17:54] abedra commented on #39
@dogweather It looks like I can't initiate the transfer request because I don't have rights to the urbanairship org. Is there a better way to do this or do I need temporary permission?

[2015-04-20 18:01] dogweather commented on #39
Good question. I forked it to see what would happen, and that works fine, but it doesn't transfer the PR's and issues. I'll look into it more.

[2015-04-20 21:11] dogweather commented on #39
@abedra Ok, github handles transfers differently depending on whether it's user-user or user-org.   Here's the easiest way for us: Transfer it to me (i.e., to my user account @dogweather); you should be able to do that. Then _I'll_ be able to transfer it to the urban airship organization account.

[2015-04-20 21:17] abedra commented on #39
Ok thanks. I'll do that in a few.

[2015-04-20 21:26] trek commented on #39
Looks like @abedra has it handled. Our only real ask is that you retain the "copyright Groupon" stuff in the license, adding your own name as desired. It should keep the lawyers happy.

[2015-04-20 21:27] abedra commented on #39
@dogweather Ok I think I've got it. I had to transfer it to my personal account, then to you. What a mess this transfer business is. Let me know if it didn't work.

[2015-04-20 21:31] trek commented on #59
Closed! We've transfered.

[2015-04-20 21:31] #59 closed

[2015-04-20 21:31] trek commented on #39
Thanks for taking this over!

[2015-04-20 21:34] dogweather commented on #39
You're welcome! Thanks for helping make the transition smooth. Nearly done.

[2015-04-20 21:37] trek commented on #59
@dogweather is there an email we can use to transfer gem ownership: http://guides.rubygems.org/command-reference/#gem-owner

[2015-04-20 21:39] trek commented on #39
@dogweather is there an email we can use to transfer the gem ownership to you as well? http://guides.rubygems.org/command-reference/#gem-owner

[2015-04-20 21:39] dogweather commented on #59
Thanks - yes, please use my email `robb.shecter@urbanairship.com`. This is the email currently linked to the new account, https://rubygems.org/profiles/UrbanAirship

[2015-04-20 21:46] trek commented on #59
added!

[2015-04-20 21:48] dogweather commented on #39
yes - robb.shecter@urbanairship.com. that's the email for the rubygems profile, https://rubygems.org/profiles/UrbanAirship

[2015-04-20 21:48] dogweather commented on #39
Oh, it looks like you already got that. Excellent.

[2015-04-20 22:09] dogweather commented on #59
Thanks! Everything looks good from here.

[2015-05-20 06:39] mani47 opened #76 "Push doesn't work with version 3 option"
According to your Github readme I just added option v3 to push:

[code]

but push doesn't work and I can see this error in console:

[code]

removing version: 3 solves the problem but I guess it works with version 2 then.

[2015-05-20 15:28] epinault opened #77 "V3 status?"
So I see the README was updated on April 20th.. And it seems to mention that V3 is not yet supported.. What I am confused is that V3 exists singe July 2014 and the gem was never updated. Now V1 is being retired so does that mean the gem in the current state does not work?

Can you please confirm that V3 will or will not work in its latest version? i see a lot of pull request but hard to tell the s

[2015-05-20 15:46] pdxmele commented on #77
Hi! UA just recently took over ownership of this repo and we're currently working on a full rewrite for v3 (but it has not been shipped yet). I'll add a note to the top of the readme to hopefully help clear this up. I'm not sure about the current state of the code.

[2015-05-20 15:47] pdxmele commented on #76
Hi! UA just recently took over ownership of this repo and we're currently working on a full rewrite for v3 (but it has not been shipped yet). I'll add a note to the top of the readme to hopefully help clear this up.

[2015-05-20 17:26] epinault commented on #77
Thanks for the update! Any idea how long before V3 ships ?

[2015-05-20 17:31] pdxmele commented on #77
Sorry, no ETA at the moment. We're going to do our best to get it out quickly, but we don't actually have many Rubyists on staff. Thanks for your patience!

[2015-06-02 10:25] mani47 commented on #76
I received an email from Urban Airship:

So We should switch to API V3 before July 31, but I have idea how if you guys don't release the new version by then.

[2015-06-08 21:20] hartator opened #79 "Wait for V3 or use Dirigible?"
Thanks for the awesome work,

I wonder what you guys official recommendation concerning V3 support?

Should we wait for you guys to release the ruby v3 wrapper or should we use another gem like Dirigible (https://github.com/anthonator/dirigible) in the meantime?

We are concerned because of the July 31th deadline we receive to upgrade to v3.

[2015-06-08 21:41] pdxmele commented on #79
Hi,

Thank you for being patient with us while we try to get this done in time. We unfortunately had some resource changes that we weren't anticipating that have slowed things down.

Please feel free to use whatever library or tools you like to help with your v3 transition (or write your own), and rely on our official API docs when you run into any problems: http://docs.urbanairship.com/api/ua.htm

[2015-06-08 23:00] hartator commented on #79
Hey, pdxmele, duly noted, thanks for the response, appreciate it.

[2015-06-09 18:16] readysetawesome commented on #77
Please update your README. The assertions it made about v3 supported sent me in the wrong direction for a while.

[2015-06-09 22:25] epinault commented on #77
You can use V3 by the way with the current state. I found a way to do it

[2015-06-10 14:38] bswinnerton commented on #77
Care to expand @epinault? I'm sure lots of people are interested.

[2015-06-10 22:05] epinault commented on #77
Yes! sorry forgot to add the code yesterday . Notice the Message structure for V3 and the version: 3 specified . That should d it. That gem is really a pass through in some ways

[code]

[2015-07-09 23:54] uconnjosh commented on #76
Any updates on this? I am having the exact same issue.

[2015-07-09 23:55] pdxmele commented on #76
We're actually planning on releasing the bare-bones new version first thing tomorrow. Hang in there!

[2015-07-10 02:36] uconnjosh commented on #76
thank you so much!!!

[2015-07-10 13:47] bswinnerton commented on #76
@pdxmele :clap: :clap: :clap: :clap:!

[2015-07-10 18:24] pdxmele commented on #79
New release is out! Please let us know if you have any problems by emailing support@urbanairship.com. This version only supports pushy things so far, not device info, tagging, reports, etc., but feel free to submit requests for other features either to support or in the issues here.

[2015-07-10 18:24] #79 closed

[2015-07-10 18:25] pdxmele commented on #77
New release is out! Please let us know if you have any problems by emailing support@urbanairship.com. This version only supports pushy things so far, not device info, tagging, reports, etc., but feel free to submit requests for other features either to support or in the issues here.

[2015-07-10 18:25] #77 closed

[2015-07-10 18:25] pdxmele commented on #76
New release is out! Please let us know if you have any problems by emailing support@urbanairship.com. This version only supports pushy things so far, not device info, tagging, reports, etc., but feel free to submit requests for other features either to support or in the issues here.

[2015-07-10 18:25] #76 closed

[2015-07-10 18:25] pdxmele commented on #51
New release is out! Please let us know if you have any problems by emailing support@urbanairship.com. This version only supports pushy things so far, not device info, tagging, reports, etc., but feel free to submit requests for other features either to support or in the issues here.

[2015-07-10 18:25] #51 closed

[2015-07-10 18:25] pdxmele commented on #39
New release is out! Please let us know if you have any problems by emailing support@urbanairship.com. This version only supports pushy things so far, not device info, tagging, reports, etc., but feel free to submit requests for other features either to support or in the issues here.

[2015-07-10 18:25] #39 closed

[2015-07-10 18:27] pdxmele commented on #42
Hi, we're clearing all of these out now due to the rewrite. We'll be adding more stuff soon, which endpoints would you like us to support exactly? Please add them as individual issues by category if you would, or submit a ticket to support@urbanairship.com. Thank you!

[2015-07-10 18:27] #42 closed

[2015-07-10 18:28] pdxmele commented on #56
Hi, we're clearing all of these out now due to the rewrite. If you run into any problems, please email support@urbanairship.com. Thank you!

[2015-07-10 18:28] #56 closed

[2015-07-10 18:28] pdxmele commented on #49
Hi, we're clearing all of these out now due to the rewrite. If you run into any problems, please email support@urbanairship.com. Thank you!

[2015-07-10 18:28] #49 closed

[2015-07-10 18:29] pdxmele commented on #44
Hi, we're clearing all of these old issues out now due to the rewrite. If you run into any problems, please email support@urbanairship.com, and if you have new feature suggestions, you can also send them to support or post them here. Thank you!

[2015-07-10 18:29] #44 closed

[2015-07-23 16:48] arches opened #80 "rails method signature conflict"
This gem defines `Object#try` with a single arg:

https://github.com/urbanairship/ruby-library/blob/master/lib/ext/object.rb#L2

Rails defines `Object#try` with varying args and a block:

https://github.com/rails/rails/blob/3e36db4406beea32772b1db1e9a16cc1e8aea14c/activesupport/lib/active_support/core_ext/object/try.rb#L5

So my rails app won't start with this gem installed.  Can't repro on a new

[2015-07-23 17:32] pdxmele commented on #80
Please do, thanks! It should help with troubleshooting.

[2015-07-23 17:42] bswinnerton commented on #80
Is there a reason to monkeypatch these low level methods like `Object#try` and `Hash#compact`?

[2015-07-23 17:46] pdxmele commented on #80
I believe we did that to try to maintain compatibility with more Ruby versions, we'll look into alternatives though.

[2015-07-23 17:47] arches commented on #80
sorry it's kind of a mess...

[code]

[2015-07-23 17:51] arches commented on #80
it says urbanairship v2.4.  I have a branch with `gem 'urbanairship', '~> 3.0'` which is what's causing my `try` problems.  Also had to fork `unirest-ruby` because it pinned `rest-client` to a patch version.  https://github.com/Mashape/unirest-ruby/pull/22  haha I missed it before, there's another PR from january to unpin it also.

[2015-07-23 19:22] bswinnerton commented on #80
@arches & @pdxmele, I proposed a fix for this in #81.

[2015-07-29 21:53] jkvoorhis commented on #80
@bswinnerton @arches we have put out a new release that should resolve these issues. Please update to the newest version of our gem (3.0.2), and let us know if issues arise again.

[2015-07-29 21:53] #80 closed

[2015-09-11 13:04] paneq opened #84 "How to provide custom payload for APNS notification?"
In version 2 of the gem it was possible to quite easily provide custom payload for APNS notification such as for example `path` and `tenant_id` as in this example:

[code]

What's the way to do it in v3 ?

I tried

[code]

I get an exception `Urbanairship::Common::AirshipFailure: Urbanairship::Common::AirshipFailure` with details:

[code]

I tried to use `extra` parameter but with no luck as well

[2015-09-11 17:31] jkvoorhis commented on #84
Hey @paneq,

In v3 the formatting requires nesting platform specific portions of the notification payload like so:

[code]

For further information on platform specific payloads please refer to our [documentation](http://docs.urbanairship.com/api/ua.html#platform-overrides) on it, and let us know if you continue to experience issues.

[2015-09-14 11:47] paneq commented on #84
@jkvoorhis

Like I said in last sentence of my issue description. I already tried that and it didn't work as well. I get `Urbanairship::Common::AirshipFailure` with given `details` :

[code]

Here is the code:

[code]

[2015-09-14 11:48] paneq commented on #84
@jkvoorhis I didn't notice the part you wrote about nesting. Will try that now.

[2015-09-14 11:56] paneq commented on #84
@jkvoorhis Thanks, it worked.

[code]

[2015-09-14 11:56] #84 closed

[2015-09-15 14:02] paneq opened #86 "Urban airship is indirectly depending on insecure version of rest-client through unirest dependency"
* https://github.com/Mashape/unirest-ruby/issues/24

It would be nice to help `Mashape` to upgrade to newest version of `rest-client`

[2015-10-08 09:46] justinsoong commented on #86
This is kinda of an issue huh

[2015-12-21 22:16] dawner opened #89 "Can't send push notifications to an audience based on tags"
There appears to be no support for specifying a `group` in the audience when sending a push notification, although it is allowed in the [UrbanAirship API here](http://docs.urbanairship.com/api/ua.html#atomic-selectors).

This is an issue because setting up ChannelTags and NamedUserTags now [requires a `group_name` to be passed in](https://github.com/urbanairship/ruby-library/blob/master/lib/urbana

[2015-12-23 20:36] jkvoorhis commented on #89
@dawner Thank you for finding this bug. If you haven't already could you please fill out and submit a contributors agreement, found here https://github.com/urbanairship/ruby-library#contributing. Once that is received we will be able to bring in your changes.

[2016-01-04 22:51] jkvoorhis commented on #89
Merging your PR and performing a release, should be out by EOD today.

[2016-01-04 22:51] #89 closed

[2016-01-27 18:25] noam87 commented on #86
is unirest being actively maintained? I see two unmerged PRs about this issue... it's also causing dependency issues.

[2016-02-19 21:50] nickhammond opened #91 "Add support for named_user as an audience"
http://docs.urbanairship.com/api/ua.html#audience-selectors

[2016-02-28 05:41] mobyjames opened #92 "Malformed API requests when using platform-specific fields"
Using the platform-specific payload shortcuts like this:

`push.notification = UA.ios(
    alert: 'testing tags again',
    extra: { 'tag' => 'foo'}
)`

produces the errors like this:

`{"ok"=>false, "error"=>"Could not parse request body.", "error_code"=>40000, "details"=>{"error"=>"The key 'extra' is not allowed in this context", "path"=>"notification.extra", "location"=>{"line"=>1, "column"=>14

[2016-02-29 19:33] jkvoorhis commented on #92
Hey @mobyjames,

It looks like there is a discrepancy between our docs and our behavior. The payload selectors should be used like so:

[code]

Thank you for bringing this to our attention, we will update our docs!

[2016-02-29 19:41] mobyjames commented on #92
Thanks!

[2016-02-29 19:43] #92 closed

[2016-02-29 19:48] jkvoorhis commented on #91
Hey @nickhammond,

Please feel free to submit a PR adding a Named User Audience Selector following our Contributor guidelines https://github.com/urbanairship/ruby-library#contributing. Otherwise we will add it in when we have our next release.

[2016-03-10 04:39] anduonghien opened #93 "Can't not push notification to ios with params badge on v3"
Hey, I'm using Urban AirShip via https://github.com/urbanairship/ruby-library.
I try to send push notification to ios with param
`Urbanairship.ios(alert: "hello", badge: "1")`
But I get error
[code]
However, I try with
`Urbanairship.ios(alert: "hello") or Urbanairship.notification(alert: "hello")`
it work OK.

Please help me, thank you.

[2016-03-10 10:26] #93 closed

[2016-03-12 23:30] philtr commented on #86
Hey, didn't even see this. I just submitted #94 to remove the Unirest dependency.

[2016-04-01 17:34] mjquinlan2000 opened #96 "Change Log Locations"
I've noticed that the gem outputs logs to $ROOT/urbanairship.log and there is no configuration available to either change the Logger that is used or the location of the file. At the very least, I would like to output all logs to my $ROOT/logs/ directory. So my question is either 1) is there a way to do this already? or 2) Would this be something you would be open to changing through a pull request

[2016-04-01 17:51] mjquinlan2000 commented on #96
Ok so I was able to patch the `Urbanairship::Loggable` module with a Rails initializer ($ROOT/config/initializers/urbanairship.rb):

[code]

It just overrides the `create_logger` method. I can still create a pull request if there's enough interest to make this configurable.

[2016-04-26 08:13] rohanpatel2602 opened #97 "References to log file held"
I'm seeing multiple references being held to the urbanairship.log everytime I send a message via urbanairship.

If I run `lsof` towards the end of the day I see hundreds of references to the log.

Is this an issue with the gem or something on my boxes themselves?

Example:
``ruby       4732       root  551w      REG              202,1     5231695     427587 /shoto/shared/log/urbanairship.log``

[2016-04-27 03:53] madelgi commented on #97
Hey @rohanpatel2602, this was totally an issue on our end. We patched the library today – you can get the latest version (3.2.2) at [rubygems](https://rubygems.org/gems/urbanairship/versions/3.2.2). Thanks for bringing this to our attention!

[2016-04-27 03:53] #97 closed

[2016-04-27 06:53] rohanpatel2602 commented on #97
@madelgi Thank you for the prompt reply and patch!

[2016-04-27 18:24] rohanpatel2602 commented on #97
@madelgi
It actually doesn't seem to be resolved :(
Updated the gem on all my boxes but just noticed that it still seems to be occuring

[2016-04-27 19:54] madelgi commented on #97
Hey @rohanpatel2602 – I'm sorry to hear that. If you happened to record it, do you mind telling me how many references you saw yesterday, and how many you see now, with the new patch? Are the numbers significantly different, or has there been virtually no change? If there are any particular details about your setup that may help diagnose the issue, feel free to share them with us.

I'll try and se

[2016-04-27 20:07] rohanpatel2602 commented on #97
@madelgi
It seemed to be the same number of references that we were seeing on version 3.0.2 of the gem
I'm a little confused as well as a cursory glance of the patch you submitted does look like it would fix the issue!

I'll try to dig into it a bit more myself and get back to you

[2016-05-12 12:12] sahild commented on #91
Please merge this pull request.

[2016-05-12 20:43] MixedRice commented on #91
+1

[2016-05-16 17:17] #91 closed

[2016-05-17 06:13] markaschneider commented on #96
I think having a setter would be beneficial.  I'd like to set it to Rails.logger (ideally not by overriding).

[2016-06-14 16:53] Bill-SnowWolf commented on #93
Hi @anduonghien , is your issue resolved

[2016-06-14 17:10] madelgi commented on #93
Hi @Bill-SnowWolf -- when passing a value to badge, you must precede it with either a plus or minus, e.g.:
[code]
The "+1" will increase a user's badge count by one, while the "-1" will decrease the count by one. Please let me know if this addresses your issue.

[2016-06-14 18:04] Bill-SnowWolf commented on #93
@madelgi There seems like a problem with Urbanairship API V3. Even I tried to manually send curl request with badge parameter, it will fail with this error:

`{"ok":false,"error":"Could not parse request body.","error_code":40000,"details":{"error":"The key 'badge' is not allowed in this context","path":"notification.badge","location":{"line":1,"column":117}},"operation_id":"f54ed775-811e-4fe2-bcd

[2016-06-14 18:47] Bill-SnowWolf commented on #93
So for future reference, the platform specific parameters should be wrapped in a platform object. The [documentation](http://docs.urbanairship.com/reference/libraries/ruby/3.2.2/push.html#notification-payload) has a typo.

Instead of calling:

[code]

[2016-06-14 22:44] madelgi commented on #93
@Bill-SnowWolf Thank you for bringing this to our attention! The [docs](http://docs.urbanairship.com/reference/libraries/ruby/3.2.3/push.html#notification-payload) have been updated with valid notification payloads.

[2016-06-25 10:21] rotem443 opened #98 "Uncaught exception: wrong number of arguments (1 for 0)"
This is my code:
`
		class NotficationHandler
		require 'urbanairship'
		UA = Urbanairship

		airship = UA::Client.new(key:'Censored', secret:'Censored')

		def self.schedule_notfication(segment, message, time)
			push = airship.create_push
			push.audience = UA.segment(segment)
			push.notification = UA.notification(alert: message)
			push.device_types = UA.all
			push.schedule = UA.scheduled_tim

[2016-07-13 08:56] nastia-shaternik commented on #86
hey @philtr

what's the problem that your PR is not in master now?

[2016-07-14 19:57] pdxmele commented on #98
Hey there, instead of troubleshooting this in Github I think our support system & team will be able to be more helpful. Please reach out to them via https://support.urbanairship.com / support@urbanairship.com .

[2016-07-14 19:57] #98 closed

[2016-07-16 02:39] philtr commented on #86
@nastia-shaternik if I remember correctly it didn't handle error responses quite as gracefully as Unirest. I was trying to use Net::HTTP instead. It would probably be a lot easier to move to RestClient instead if you want to take a stab at that. IMO API wrappers should use Net::HTTP, but I didn't have time to debug.

[2016-08-23 20:39] rotem443 opened #99 "Schedule notification arrives with no message"
I checked out the logs and this is how the request looks like :

{"schedule":{"scheduled_time":"2016-08-24T05:00:00"},"push":{"audience":{"segment":"*Censorship*"},"notification":{"ios":{"alert":"message12","badge":"+1","sound":"default","extra":{"featured":"10"}}},"device_types":["ios"]}}

What should i do ?

[2016-08-23 20:49] pdxmele commented on #99
This doesn't look like an issue with the library itself, so please contact our support team at https://support.urbanairship.com and they'll be happy to help you out!

[2016-08-23 20:49] #99 closed

[2016-10-24 20:56] pdxmele commented on #86
This is now fixed, thanks for the report!

[2016-10-24 20:56] #86 closed

[2016-12-27 14:21] MaxDBN opened #101 "No such file or directory - getcwd"
I'm getting this exception from time to time while sending push notifications.
I thought that this is because of insufficient permissions for urbanairship.log but giving permissions to this file or his parent folder did not help.

I'm running this code on my staging environment using Elastic Beanstalk.

What files are being used by this code except urbanairship.log?
Can I disable logging completel

[2016-12-27 14:52] MaxDBN commented on #101
Please close this issue, it's not cause of this gem.
It was because I didn't restart Sidekiq and a gem you use (rest-client) was referring directories that doesn't exist anymore.

[2016-12-27 16:11] #101 closed

[2017-01-10 14:57] StephaneRob commented on #96
@mjquinlan2000 Need to use instance_eval instead of class_eval now.

[2017-02-08 20:34] pdxmele commented on #96
Thanks! We'll take a look at this when we do our next release.

[2017-05-17 14:38] rmathew1992 opened #104 "Retrieving .from_url for a scheduled push errors out"
I'm running version 3.2.4 of the gem.

I run into the following when trying to retrieve a scheduled push notification from UrbanAirship using the .from_url method.

[code]

I'm doing the following:

[code]

Where lookup_url is a valid UA url that I obtained from creating a scheduled push. After opening up the library I found that in lib/push.rb we were doing the following:

[code]
Where response b

[2017-05-17 18:05] pdxmele commented on #104
Hi, please reach out to our support team at http://support.urbanairship.com for these kinds of issues and questions instead of posting an issue here. Thank you!

[2017-05-17 18:05] #104 closed

[2017-12-07 23:59] pdxmele commented on #96
This is fixed with #106

[2017-12-07 23:59] #96 closed

[2018-03-15 17:58] maynardewm opened #108 "UA Push Notification Not Sent When Server Ran As Daemon"
## Expected Behavior
Push notification should be sent to device.

## Current Behavior
It works if I run the server as: rails s -b 0.0.0.0, but not if I run the server as rails s -d -b 0.0.0.0

I get the following error:
[code]

## Possible Solution
Is it a permissions issue?

## Rails Server Code
[code]

[2018-03-15 17:59] pdxmele commented on #108
Does it fail every time? Can you configure logging, turn it up, and let us know what's in the log please? Library version and time would also be great so we can check what's happening on our side for your request.

[2018-03-15 18:02] maynardewm commented on #108
Library version: 4.1.0

When I try to tail the development.log file, I get an error:
[code]

[2018-03-15 18:11] maynardewm commented on #108
Here's the total console output when running rails s -d -b 0.0.0.0

`Started POST "/api/1/posts/8289797122/likes.json" for 23.240.151.231 at 2018-03-15 18:10:49 +0000
Cannot render console from 23.240.151.231! Allowed networks: 127.0.0.1, ::1, 127.0.0.0/127.255.255.255
Processing by Api::LikesController#create as JSON
  Parameters: {"post_key"=>"8289797122"}
Can't verify CSRF token authenticity.

[2018-03-15 18:12] maynardewm commented on #108
Here's the log output when I try to make the UA Notification:

Started POST "/api/1/posts/8289797122/likes.json" for 23.240.151.231 at 2018-03-15 18:10:49 +0000
Cannot render console from 23.240.151.231! Allowed networks: 127.0.0.1, ::1, 127.0.0.0/127.255.255.255
Processing by Api::LikesController#create as JSON
  Parameters: {"post_key"=>"8289797122"}
Can't verify CSRF token authenticity.
  User

[2018-03-15 18:12] pdxmele commented on #108
Thanks! Looks like something may still be weird with your library logging setup.. did you follow the steps here? https://github.com/urbanairship/ruby-library#configuration

[2018-03-15 18:20] maynardewm commented on #108
The config is correct I believe:
[code]

It works when I run the server like this:
rails s -b 0.0.0.0

But not like this:
rails s -d -b 0.0.0.0

[2018-03-16 21:31] pdxmele commented on #108
Ok, thanks for your patience! We're hoping to be able to dig into this early next week.

[2018-03-26 21:01] wilsab30 commented on #108
Hi,

Could you tell me what version of ruby and rails you are running? Also is the daemon you're using a gem? If so, which gem/version are you using? If not, please send the daemon code you are using.
Are you running the app from the root of the app directory?

[2018-03-26 21:09] maynardewm commented on #108
Ruby 2.5.0
Rails 5.1.4
Puma in production, Webrick in dev

Yes I am running from root of app directory

[2018-03-30 21:59] wilsab30 commented on #108
Hi,

I've been talking about this with the engineers here and the issue, in terms of logging, may be that you are specifying the config.log_path value as 'log', but Ruby loggers won't automatically create that directory. Could you please create the log directory and try to send again.

[2018-04-16 23:52] maynardewm commented on #108
I couldn't get any config.log_path settings to work, so I removed it for now so at least it works.

[2018-04-18 16:42] wilsab30 commented on #108
Hi,

I just want to clarify. Are you able to run the server as rails s -d -b 0.0.0.0 and have push notifications go out now?

[2018-04-19 16:48] #108 closed

[2018-10-23 22:35] connor-odoherty opened #113 "Unable to use named user methods if for iOS channel"
The associate and disassociate methods on NamedUser return a 404 error because it impossible to set the device_type. The user passes in a device_type variable, but the code references a non-existent instance variable.

I have fixed this in my fork: https://github.com/connor-odoherty/ruby-library

[2018-10-23 23:54] pdxmele commented on #113
Thanks for the report! I'm having a look at your PR and hope to have it merged in sometime tomorrow.

[2018-10-24 16:42] pdxmele commented on #113
Merged in, gonna do a couple other small things and then do a new official release.

[2018-10-24 16:42] #113 closed

[2019-06-12 17:12] SoCohesive commented on #84
@jkvoorhis when the iOS app receives this type of push is the dictionary "extra" inside the aps dictionary?

aps: {
alert: "",
extra: {
  path: .. etc

}
}

[2019-06-12 17:56] sarahdactyl71 commented on #84
@SoCohesive I will take a look at this and get back to you as soon as I can.

[2019-06-17 16:12] SoCohesive commented on #84
Hi!

Have you had a chance to look into this? I would just like to know what the
"extra" dictionary looks like when the iOS client receives it via a push
notification in the "aps" payload

On Wed, Jun 12, 2019 at 10:56 AM Sarah Kirk <notifications@github.com>
wrote:

--
*Sonam Dhingra*
*Portfolio:* *http://bit.ly/SoCohesive <http://bit.ly/SoCohesive>*
*LinkedIn*: *http://bit.ly/SonamsLinkedIn <htt

[2019-06-17 17:28] sarahdactyl71 commented on #84
Hi @SoCohesive the full payload is as follows:

[code]

Furthermore, if you would want to add more than one key value pair to the payload it would look like this:

[code]

[2019-06-18 16:44] SoCohesive commented on #84
Hi Sarah,

Thanks for the follow up,  I'm still a bit confused.

How do I set up a test push notification via the dashboard that includes an
"extra" dictionary with multiple key/value pairs?

On Mon, Jun 17, 2019 at 10:28 AM Sarah Kirk <notifications@github.com>
wrote:

--
*Sonam Dhingra*
*Portfolio:* *http://bit.ly/SoCohesive <http://bit.ly/SoCohesive>*
*LinkedIn*: *http://bit.ly/SonamsLinkedIn <

[2019-06-18 17:27] sarahdactyl71 commented on #84
@SoCohesive

The test push form for iOS doesn't support multiple extras. However, our regular composer does if you are on a billing plan that gives you access to it. The other option is making requests directly with the ruby library.

What _may_ work is manually editing the payload that you would like to send through to the API on the Test Push Notification Dashboard.

For example, if you submit e

[2019-12-05 17:03] gmaffia opened #117 "Server URL https://go.airship.com/ returns 404"
Hello,

It looks that the current server URL for the Urbanairship API just changed, but the library doesn't reflect this.

## Expected Behavior
The API endpoint base URL should be https://go.urbanairship.com

## Current Behavior
The API endpoint base URL currently is https://go.airship.com, which returns a 404 error

## Possible Solution
Modify lib/urbanairship/common.rb line 7 to
SERVER = https:/

[2019-12-05 17:08] sarahdactyl71 commented on #117
Taking a look at this one and we will get back to you as soon as we can. Thank you for alerting us to this issue.

[2019-12-06 15:51] gmaffia commented on #117
Hi!
I created a PR for this issue. #119

[2020-01-14 19:36] cguess commented on #117
For some odd reason my Bundler wasn't taking in the new tag `5.4.0` and wasn't upgrading me. Instead I had to change my Gemfile to reflect it explicitly, replacing the normal line with`gem "urbanairship", tag: "5.4.0"`

What would be best is if a new version of this was tied up and committed instead of just tags.

[2020-01-14 22:12] sarahdactyl71 commented on #117
@cguess Sorry that running `bundle update` isn't working for you! Taking a look at this one and we will get back to you as soon as we can. We are working on releasing a new version later this month, so please keep an eye out for it. Not sure what you originally had in your gemfile originally, but just to be on the same page it should be this line: `gem 'urbanairship', '~> 5.4'`.

[2020-04-14 19:31] syoder opened #121 "Incorrect logic and warning in validate_url method"
## Expected Behavior
No warnings should be emitted

## Current Behavior
A warning is emitted when starting our Rails app which includes this gem. Here's the warning:
[code]
## Possible Solution
the logic in this method is not correct and doesn't do what it looks like it's supposed to:
https://github.com/urbanairship/ruby-library/blob/master/lib/urbanairship/devices/mms_notification.rb#L32-L36

Ins

[2020-04-14 19:31] syoder commented on #121
Should I submit a PR for this?

[2020-04-14 20:22] sarahdactyl71 commented on #121
@syoder Thank you for brining this to our attention! We will take a look an implement your solution!

[2020-04-14 21:16] sarahdactyl71 commented on #121
Hey @syoder we have added your requested fixes and have pushed them to the newest version of the `urbanairship` gem here: https://rubygems.org/gems/urbanairship. Thank you!

[2020-04-14 21:16] #121 closed

[2020-04-14 22:51] syoder commented on #121
Thanks for the quick response!

[2021-07-01 13:31] lloydwatkin opened #129 "`Named_User#update_attributes` implementation"
Hi,

I required this functionality, I have therefore implemented in a branch on [our](https://github.com/olioex) branch. It includes documentation. If you'd like me to make a pull request please let me know.

https://github.com/OLIOEX/ruby-library/tree/named-user-attributes

[2021-07-02 16:00] pdxmele commented on #129
Please do PR this, thanks

[2021-07-02 16:42] pdxmele commented on #129
Actually I should be able to pull into our dev repo to test and then do the other things I need to do before a new release, don't worry about it.

[2021-07-02 22:39] pdxmele commented on #129
Released!

[2021-07-02 22:39] #129 closed

[2021-09-07 11:28] lloydwatkin opened #130 "Custom Event code does not work/undocumented"
**All bugs, feature requests, implementation concerns or general queries should be sent to our [support team](https://support.airship.com/).**

You are welcome to submit an issue here for bugs, but please also reach out to our support team as well.

Before completing the form below, please check the following:

- [x] You are using the most recent version of the library.
- [x] You are using a suppo

[2021-09-07 15:29] lloydwatkin commented on #130
Closing, it seems this API requires a `bearer` style token with full access permissions.

[2021-09-07 15:29] #130 closed

[2021-09-07 15:43] pdxmele commented on #130
Yep, we'll work on getting the example added to the API documentation though. Thanks!